<h1>Listing creates</h1>

<table>
  <tr>
    <th>Org</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @creates.each do |create| %>
  <tr>
    <td><%= create.org %></td>
    <td><%= create.url %></td>
    <td><%= link_to 'Show', create %></td>
    <td><%= link_to 'Edit', edit_create_path(create) %></td>
    <td><%= link_to 'Destroy', create, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Create', new_create_path %>
