<p id="notice"><%= notice %></p>

<p>
  <b>Org:</b>
  <%= @site.org %>
</p>

<p>
  <b>Url:</b>
  <%= @site.url %>
</p>
<%= image_tag('/screenshots/' + @site._id.to_s + '.png') %>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
