<% content_for :page_title do %>View Site Report<% end %>
		  <% content_for :main_heading do %>
          <h1>Site Report</h1>
		  <% end %>
		  <% content_for :sub_heading do %>
            <h3>Details</h3>
            <%= link_to site_path(@site), :method => :put do %>
			<input name="button1" type="button" id="cmdNewTest" class="standard_button_size critical_button" value="Run New Test" style="float:right;" />
            <% end %>
		  <% end %>
<%= link_to 'Back', sites_path %> | 
<%= link_to 'Edit', edit_site_path(@site) %>

            <table class="prettygrid" cellspacing="0" cellpadding="0" rules="all" border="1" id="MainContent_gvResults" style="width:100%;border-collapse:collapse;">
              <tr class="prettygrid-header">
                <th align="center" scope="col">Parameter</th><th align="center" scope="col">Value</th>
              </tr>
              <tr class="prettygrid-row">
                <td align="left">Organization</td>
                <td align="left"><%= @site.org %></td>
			  </tr>
			  <tr class="prettygrid-alt">
                <td align="left">URL</td>
                <td align="left"><%= @site.url %></td>
              </tr>
              <tr class="prettygrid-row">
                <td align="left">Timestamp</td>
                <td align="left"><%= @site.timestamp %></td>
			  </tr>
			  <tr class="prettygrid-alt">
                <td align="left">Current State</td>
                <td align="left"><%= @site.state %></td>
              </tr>
			  <tr class="prettygrid-row">
                <td align="left">Response Time</td>
                <td align="left"><%= @site.response_time %> seconds</td>
			  </tr>
			  <tr class="prettygrid-alt">
                <td align="left">Status</td>
                <td align="left"><%= @site.status %></td>
              </tr>
			  <tr class="prettygrid-row">
                <td align="left">Response Code</td>
                <td align="left"><%= @site.response_code %></td>
              </tr>
			  <tr class="prettygrid-alt">
                <td align="left">Source IP (Whitelist This)</td>
                <td align="left"><%= t(:src_ip) %></td>
              </tr>
            </table>
			<br /><hr />
			<h3>Screenshot</h3>			
<% if @site.status == 'Success' %>
<%= image_tag('/screenshots/' + @site._id.to_s + '.png') %>
<% end %>
