<% content_for :page_title do %>Manage Users<% end %>
		  <% content_for :main_heading do %>
          <h1>Admin</h1>
		  <% end %>
		  <% content_for :sub_heading do %>
            <h3>Manage Users</h3>
		  <% end %>

            <table class="prettygrid" cellspacing="0" cellpadding="0" rules="all" border="1" id="MainContent_gvResults" style="width:100%;border-collapse:collapse;">
              <tr class="prettygrid-header">
                <th align="center" scope="col">EMail</th><th align="center" scope="col">Organization</th><th align="left" scope="col">Approved</th><th align="center" scope="col">Admin</th><th align="center" scope="col">Manage</th>
              </tr>
              <% @users.each do |user| %>
              <tr class=<%= cycle("prettygrid-row", "prettygrid-alt") %>>
                <td align="center"><%= user.email %></td>
                <td align="left"><%= user.org %></td>
                <td align="center"><%= user.approved %></td>
                <td align="center"><% if user.admin? %><span class="rejected"><%= user.admin %></span><% else %><%= user.admin %><% end %></td>
                <td align="center" style="white-space:nowrap;">
                  <%= link_to 'Show', user %>
                  <%= link_to 'Edit', edit_user_path(user) %>
                  <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
              <% end %>
            </table>