<p id="notice"><%= notice %></p>

<p>
  <b>Org:</b>
  <%= @create.org %>
</p>

<p>
  <b>Url:</b>
  <%= @create.url %>
</p>


<%= link_to 'Edit', edit_create_path(@create) %> |
<%= link_to 'Back', creates_path %>
