<% content_for :page_title do %>Modify Account<% end %>
<% content_for :main_heading do %>
<h1>Account Management</h1>
<% end %>
<% content_for :sub_heading do %>
<h3>Change Password</h3>
<% end %>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
<div class="bigboxes">
  <div><%= f.email_field :email, :class => 'modal_input', :placeholder => 'Email' %></div>
    <div><%= f.password_field :current_password, :class => 'modal_input', :placeholder => 'Current Password (REQUIRED)' %></div>
      <div><%= f.password_field :password, :class => 'modal_input', :placeholder => 'New Password' %></div>
        <div><%= f.password_field :password_confirmation, :class => 'modal_input', :placeholder => 'Confirm Password' %></div>
          <div><%= f.submit "Update", :class => 'critical_button standard_button_size loginButton' %></div>
</div>
<% end %>
<br />
<h3>Cancel my account</h3>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
</div>
</div>
